$app-back-color: #0a0a0f;

$btn-color-green: #11d588;
$text-dark-green: #3e8049;
$text-dark-gray: #a8abae;

$card-overview-back-color: #0c3552;
$body-section-border-color: #142f48;

$overview-widget-back-color: #1a1927;

$overview-widget-search-back-color: #122438;

$country-card-back-color: #ffd679;
$earning-card-back-color: #3f2c3b;
$balance-card-back-color: #90c484;
$meetings-card-back-color: #6e4bda;
