@import "./colors.scss";

.flex-box-start, .flex-box-center, .flex-box-end {
    display: flex;
}

.flex-box-center {
    justify-content: center;
}

.flex-box-end {
    justify-content: flex-end;
}

.flex-col {
    flex-direction: column;
}

.v-center {
    align-items: center;
}

.space-even {
    justify-content: space-evenly;
}

.btn-link {
}

.btn-rect-white, .btn-rect-green {
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;

    font-weight: 600;
}

.btn-rect-green {
    background-color: $btn-color-green;
}


// remove default css of a tag
a {
    outline: none;
    // pointer-events: none;
    cursor: pointer;
    border: none;
    text-decoration: none;

    color: inherit;

    &:visited {
        color: white;
    }
}

button {
    cursor: pointer;
}

.font-icon {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
}

// widths
.full-width {
    width: 100%;
}

.enable-hover {
    cursor: pointer;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-card {
    background-color: $overview-widget-back-color;
    border-radius: 15px;
    padding: 15px;
}

.light {
    font-weight: 200;
}

.small {
    font-size: 13px;
}

.app-title {
    margin: 0;
    font-size: 60px;
}

.app-sub-title {
    font-weight: 200;
    font-size: 18px;
}

.dark-green {
    color: $text-dark-green;
}

.text-center {
    text-align: center;
    justify-content: center;
}

input {
    &::-webkit-input-placeholder {
        opacity: 0.7;
    }
}

.less-opacity {
    opacity: 0.5;
}